@use 'sass:map';
@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.aside {
  container-type: inline-size;

  &__container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
    padding-block: 1.875rem;

    @container (max-width: 37.5rem) {
      flex-direction: column;
    }
  }

  &__sub-container {
    display: flex;
    flex-direction: column;
    gap: inherit;
    flex: 0 0 23.8125rem;

    @container (max-width: 37.5rem) {
      flex: unset;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
    filter: grayscale(100%);
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__links-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 0.75rem;
    border-top: 0.03125rem solid map.get(v.$color, grey, 200);
  }

  &__link {
    font-size: 0.75rem;
  }
}
