mixin aside
  -
    const links = [
      [
        {
          text: 'it@katozaaaa.ru',
          link: 'mailto:it@katozaaaa.ru',
        },
        {
          text: '+7 (927) 939 0309',
          link: 'tel:+79279390309',
        },
      ],
      [
        {
          text: 'GitHub',
          link: 'https://github.com/katozaaaa/',
        },
        {
          text: 'Linkedin',
          link: 'https://www.linkedin.com/in/katozaaaa/',
        },
        {
          text: 'Telegram',
          link: 'https://t.me/katozaaaa/',
        },
        {
          text: 'Instagram',
          link: 'https://www.instagram.com/lessblesst/',
        },
      ],
    ];

  aside.aside.js-aside&attributes(attributes)
    .aside__container
      .aside__text
        | A specialist with 5+ years of experience.
        | I am passionate about creating high-quality web applications and continuously improving my skills in frontend development.
      .aside__sub-container
        img.aside__image.js-aside-image(
          src='/assets/images/handsome-guy.jpg',
          width=358,
          height=358,
          alt='Roman Toporkov'
        )
        .aside__links
          each row in links
            .aside__links-row
              each item in row
                +link({ text: item.text }).aside__link(href=item.link)
