@use 'sass:string';
@use 'sass:math';

@function str-replace($string, $search, $replace: '') {
  $index: string.index($string, $search);

  @if not $index {
    @return $string;
  }

  $before: string.slice($string, 1, $index - 1);
  $after:
    $string,
    $index + string.length($search);
  $processed-after: str-replace($after, $search, $replace);

  @return $before + $replace + $processed-after;
}

@function fluid($min, $max, $min-vw: 360, $max-vw: 1440) {
  $slope: math.div(($max - $min), ($max-vw - $min-vw));
  $y-intercept: $min - $slope * $min-vw;
  $min-rem: math.div($min, 16);
  $max-rem: math.div($max, 16);
  $y-intercept-rem: math.div($y-intercept, 16);

  @if $min > $max {
    @return clamp(
      #{$max-rem}rem,
      #{$y-intercept-rem}rem + #{$slope * 100}vw,
      #{$min-rem}rem
    );
  }

  @return clamp(
    #{$min-rem}rem,
    #{$y-intercept-rem}rem + #{$slope * 100}vw,
    #{$max-rem}rem
  );
}
