@use 'sass:map';

$color: (
  white: (
    100: #ffffff
  ),
  black: (
    100: #000000
  ),
  grey: (
    100: #ababab,
    200: #383838
  )
);

$breakpoints: (
  // (small desktop) < 90rem
  sd: 89.9375rem,
  // (large tablet) < 80rem
  lt: 79.9375rem,
  // (small tablet) < 64rem
  st: 63.9375rem,
  // (large mobile) < 48rem
  lm: 47.9375rem,
  // (small mobile) < 36rem
  sm: 35.9375rem
);

$font-family: (
  primary: (
    'Schibsted Grotesk',
    sans-serif
  ),
  secondary: (
    'Geist',
    sans-serif
  )
);

$font-size: (
  h1: (
    1439: 1.5rem,
    1279: 1.375rem,
    767: 1.25rem
  ),
  h2: (
    1439: 0.9375rem,
    1279: 0.9375rem,
    767: 0.9375rem
  ),
  h3: (
    1439: 0.75rem,
    1279: 0.75rem,
    767: 0.75rem
  ),
  body: (
    1439: 1rem,
    1279: 0.9375rem,
    767: 0.9375rem
  ),
  body-small: (
    1439: 1rem,
    1279: 0.9375rem,
    767: 0.9375rem
  )
);

$font-weight: (
  h1: (
    1439: 400,
    1279: 400,
    767: 400
  ),
  h2: (
    1439: 600,
    1279: 600,
    767: 600
  ),
  h3: (
    1439: 600,
    1279: 600,
    767: 600
  ),
  body: (
    1439: 400,
    1279: 400,
    767: 400
  ),
  body-small: (
    1439: 400,
    1279: 400,
    767: 400
  )
);

$line-height: (
  h1: (
    1439: 130%,
    1279: 130%,
    767: 130%
  ),
  h2: (
    1439: 130%,
    1279: 130%,
    767: 130%
  ),
  h3: (
    1439: 130%,
    1279: 130%,
    767: 130%
  ),
  body: (
    1439: 155%,
    1279: 140%,
    767: 140%
  ),
  body-small: (
    1439: 140%,
    1279: 135%,
    767: 135%
  )
);

$letter-spacing: (
  h1: (
    1439: -0.02em,
    1279: -0.02em,
    767: -0.02em
  ),
  h2: (
    1439: -0.01em,
    1279: -0.01em,
    767: -0.01em
  ),
  h3: (
    1439: -0.01em,
    1279: -0.01em,
    767: -0.01em
  ),
  body: (
    1439: -0.005em,
    1279: -0.005em,
    767: -0.005em
  ),
  body-small: (
    1439: -0.01em,
    1279: -0.005em,
    767: -0.005em
  )
);
