@use 'sass:map';
@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.experience {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 2.3125rem;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.875rem;
    padding-block: 1.25rem 3.125rem;
    width: 100%;
    border-top: 0.03125rem solid map.get(v.$color, grey, 200);

    @container (max-width: 37.5rem) {
      flex-direction: column;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__company-info {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    color: map.get(v.$color, grey, 100);
  }

  &__duties {
    flex: 0 0 23.8125rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: none;

    @container (max-width: 37.5rem) {
      flex: unset;
      align-self: flex-end;
      max-width: 23.8125rem;
    }
  }

  &__dutie {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5em;
    font-family: map.get(v.$font-family, secondary);

    @include m.bullet;
  }
}

.skills {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 2.3125rem;

  &__groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2.3125rem;

    @container (max-width: 37.5rem) {
      grid-template-columns: 1fr;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &:nth-child(even) {
      @container (max-width: 37.5rem) {
        justify-self: end;
      }
    }
  }

  &__group-title {
    color: map.get(v.$color, grey, 100);
    @include m.font-styles(body);
  }

  &__group-skills {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5em;

    @include m.bullet;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 2.3125rem;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    svg {
      width: 1.5625em;
      aspect-ratio: 1;
    }
  }
}

.education {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 2.3125rem;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.3125rem;

    @container (max-width: 37.5rem) {
      grid-template-columns: 1fr;
      gap: 1rem;
      max-width: 20.1875rem;
      width: 100%;
    }

    &:nth-child(even) {
      @container (max-width: 37.5rem) {
        align-self: flex-end;
      }
    }
  }

  &__spec {
    color: map.get(v.$color, grey, 100);
  }
}

.recommendations {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 2.3125rem;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2.3125rem;
    list-style-type: none;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.3125rem;

    @container (max-width: 37.5rem) {
      grid-template-columns: 1fr;
      gap: 1rem;
      max-width: 20.1875rem;
      width: 100%;
    }

    &:nth-child(even) {
      @container (max-width: 37.5rem) {
        align-self: flex-end;
      }
    }
  }

  &__item-recommender-post {
    color: map.get(v.$color, grey, 100);
  }
}
