.underlined-text {
  position: relative;
  white-space: nowrap;

  &__line {
    position: inherit;
    white-space: inherit;
  }

  &__underline {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0.0625rem;
    background-color: currentColor;

    @media (hover: none) {
      display: none;
    }
  }
}
