mixin header
  header.header.js-header
    .container.header__container
      .header__wrapper
        .header__col
          a.header__title-wrapper(href='/')
            h1.title.title--type_h1.header__title.underlined-text.js-underlined-text
              span.underlined-text__line.js-line Roman Toporkov,
              span.underlined-text__line.js-line Middle Frontend Developer

        .header__col
          +button.header__about-link(href='/about')
            span About
