@use 'sass:map';
@use '../../styles/variables' as v;

.header {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3.125rem;
    padding-bottom: 10rem;

    @media (max-width: 47.9375rem) {
      padding-bottom: 5rem;
    }
  }

  &__col {
    display: flex;
  }

  &__title-wrapper {
    color: inherit;
    text-decoration: none;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      &:nth-child(2) {
        color: map.get(v.$color, grey, 100);
      }
    }
  }
}
