@use 'sass:map';
@use '../../styles/variables' as v;

.footer {
  &__wrapper {
    padding-top: 350px;
    border-top: 1px solid map.get(v.$color, grey, 200);

    @media (max-width: 767px) {
      padding-top: 175px;
    }
  }
}
