@use 'sass:map';
@use '../../styles/variables' as v;

.footer {
  &__wrapper {
    padding-top: 21.875rem;
    border-top: 0.0625rem solid map.get(v.$color, grey, 200);

    @media (max-width: 47.9375rem) {
      padding-top: 10.9375rem;
    }
  }
}
