@use 'sass:map';
@use '../../styles/variables' as v;

.page {
  &__container {
    display: flex;
    flex-direction: row;
    gap: 3.125rem;

    @media (max-width: 47.9375rem) {
      flex-direction: column;
    }
  }

  &__aside-wrapper {
    flex: 0 1 22.375rem;
    min-width: 15rem;
    border-top: 0.0625rem solid map.get(v.$color, grey, 200);
  }

  &__aside {
    position: sticky;
    top: 0;
  }

  &__content-wrapper {
    flex: 0 1 50.75rem;
  }

  &__contact-modal-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
  }

  &__contact-modal-subject {
    min-height: 12.5rem;
  }

  &__contact-modal-submit {
    align-self: flex-start;
    margin-top: auto;
  }
}
